################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SAE 2.01 Basic-Fit/.vs
/.vs
/SAE 2.01 Basic-Fit/SAE 2.01 Basic-Fit/obj/Debug/net8.0-windows
